Source: getdns
Section: misc
Priority: optional
Maintainer: Manvendra Bhangui <manvendra@indimail.org>
Build-Depends: debhelper (>> 3.0.0), autoconf (>= 2.53-2 ), gcc, file
Standards-Version: 3.9.1
Homepage: http://indimail.sourceforge.net

Package: getdns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libgetdns
Pre-Depends: libevent, libunbound
Description: DNS Library

Package: libgetdns-dev
Depends: ${misc:Depends}
Section: devel
Architecture: any
Pre-Depends: libevent-dev, libunbound-dev
Description: Development files for getdns
 libgetdns-dev provides functions to query DNS lookups

Package: libgetdns
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: libunbound, libevent
Description: Library for getdns
 libgetdns provides functions for dns queries
