#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=5

CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

NAME=ezmlm-idx
DESTDIR=debian/$(NAME)
PREFIX=/usr
BINDIR=$(PREFIX)/bin
LIBDIR=$(PREFIX)/lib/indimail/ezmlm
MANDIR=$(PREFIX)/share/man
DOCDIR=$(PREFIX)/share/doc/ezmlm-idx
SYSCONFDIR=/etc
RCDIR=$(SYSCONFDIR)/indimail/ezmlm
CGIDIR=/var/www/cgi-bin
DESTDIR=$(CURDIR)/debian/ezmlm-idx.tmp

build: build-stamp
build-stamp:
	dh_testdir
	# Add here commands to compile the package.
	echo $(RCDIR)               >conf-etc
	echo $(SYSCONFDIR)/indimail >conf-sysconfdir
	echo $(PREFIX)              >conf-prefix
	echo $(BINDIR)              >conf-bin
	echo $(MANDIR)              >conf-man
	echo $(LIBDIR)              >conf-lib
	echo "gcc $(CFLAGS) -I/usr/include/mysql -I/usr/include/postgresql" >conf-cc
	echo "gcc $(LDFLAGS) -L/usr/lib/mysql" >conf-ld
	make clean
	make all
	( \
	echo "The script ezmlm-cgi is installed as  %ezcgi/ezmlm-cgi" \
	echo "Please see INSTALL 16-22) in this package's doc directory and the" \
	echo "man page ezmlm-cgi.1 for more details on setting up and using ezmlm-cgi." \
	) > INSTALL.cgi
	# --- end custom part for compiling
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	rm -rf $(DESTDIR)
	# --- end custom part for cleaning up

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package
	# The DESTDIR Has To Be Exactly  /usr/src/packages/BUILD/debian/<nameOfPackage>
	mkdir -p "$(DESTDIR)$(BINDIR)"
	mkdir -p "$(DESTDIR)$(DOCDIR)"
	mkdir -p "$(DESTDIR)$(LIBDIR)"
	mkdir -p "$(DESTDIR)$(RCDIR)"
	mkdir -p "$(DESTDIR)$(CGIDIR)"
	mkdir -p "$(DESTDIR)$(PREFIX)/sbin"
	./installer "$(DESTDIR)$(RCDIR)"  <ETC
	./installer "$(DESTDIR)$(BINDIR)" <BIN
	./installer "$(DESTDIR)$(MANDIR)" <MAN
	./installer "$(DESTDIR)$(LIBDIR)" <LIB
	ln -s `head -n 1 conf-lang` "$(DESTDIR)$(RCDIR)/default"
	install -m 0644 README.mysql README.pgsql INSTALL.cgi ezcgirc ezcgi.css "$(DESTDIR)$(DOCDIR)"
	mv $(DESTDIR)$(BINDIR)/ezmlm-queue $(DESTDIR)$(PREFIX)/sbin
	mv $(DESTDIR)$(BINDIR)/ezmlm-cgi   $(DESTDIR)$(CGIDIR)
	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	find $(DESTDIR)$(MANDIR) -name '*'.? -type f -exec gzip -q {} \;
	dh_install --sourcedir=$(DESTDIR) -pezmlm-idx
	dh_install --sourcedir=$(DESTDIR) -pezmlm-idx-cgi
	dh_install --sourcedir=$(DESTDIR) -pezmlm-idx-mysql
	dh_install --sourcedir=$(DESTDIR) -pezmlm-idx-pgsql
	dh_install --sourcedir=$(DESTDIR) -pezmlm-idx-sqlite
	dh_installdocs BLURB CHANGES* FAQ INSTALL README README.std ChangeLog THANKS TODO UPGRADE DOWNGRADE ezmlmrc.template LICENSE
	dh_installexamples
	dh_installcron
	dh_installman
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
