libtool
stamp-h1
Makefile
config.h
config.log
config.status
compile
.deps
formail
formail.1
lockfile
lockfile.1
man/formail.1
man/lockfile.1
man/man.sed
man/man.sed.0000
man/man.sed.0001
man/man.sed.0002
man/man.sed.0003
man/procmail.1
man/procmailex.5
man/procmailrc.5
man/procmailsc.5
procmail
procmail-*-rpmlintrc
procmail.1
procmail_perm_list
procmailex.5
procmailrc.5
procmailsc.5
procmail.spec
debian/changelog
debian/*.dsc
debian/postinst
debian/postrm
debian/rules
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
debian/README
debian/debian.tar.gz
debian/dummy.tar.gz
debian/obs.mk
depcomp
install-sh
ltmain.sh
m4
missing
obs.mk
