RELEASE
dist
experiments
packages
rpmbuild
private
pam-multi*
*/config.log
*/config.status
*/stamp-h1
*/libtool
*/config.h
*.lib
indimail-*/.gitignore
fortune-*/.gitignore
*/.deps
*/.libs
#
# remaining programs
#
altermime-*/altermime
altermime-*/Makefile
altermime-*/Makefile.in
flash-*/Makefile
flash-*/Makefile.in
flash-*/alarms
flash-*/background
flash-*/countdown
flash-*/crypt
flash-*/flash
flash-*/system.menu
flash-*/system.rc
mpack-*/mpack
mpack-*/munpack
mpack-*/Makefile
mpack-*/Makefile.in
ripmime-*/ripmime
ripmime-*/ripole
ripmime-*/Makefile
ripmime-*/Makefile.in
indimail-*/Makefile.in
indimail-*/doc/INSTALL-RPM
indimail-*/doc/INSTALL.indimail
indimail-*/doc/README-CLUSTER
indimail-*/doc/RELEASE-Steps
indimail-*/doc/INSTALL-MYSQL
indimail-*/doc/RELEASE-Notes
indimail-*/eps-*/Makefile.in
indimail-*/indimail.settings
