.gitignore
cscope.*
.DS_Store
RELEASE
dist
experiments
packages
rpmbuild
clamav-*
private
pam-multi*
install-sh
missing
configure
config.guess
config.h.in
config.sub
config.status
aclocal.m4
ltmain.sh
*/post_handle
config.log
stamp-h1
libtool
config.h
*.lib
*/.deps
*/.libs
Makefile
Makefile.in
#
# remaining programs
#
courier-imap-3.0.8-mac
IndiMail
mariadb-5.1.42
netqmail-addons
indimail-2.0
fortune-*/.gitignore
altermime-*/altermime
flash-*/alarms
flash-*/background
flash-*/countdown
flash-*/crypt
flash-*/flash
flash-*/system.menu
flash-*/system.rc
mpack-*/README
mpack-*/configure
mpack-*/mpack
mpack-*/munpack
ripmime-*/ripmime
ripmime-*/ripole
indimail-*/ChangeLog
indimail-*/RELEASE-Notes.in
indimail-*/doc/ChangeLog
indimail-*/doc/INSTALL-RPM
indimail-*/doc/INSTALL.indimail
indimail-*/doc/README-CLUSTER
indimail-*/doc/RELEASE-Steps
indimail-*/doc/INSTALL-MYSQL
indimail-*/doc/RELEASE-Notes
indimail-*/indimail.settings
indimail-*/indimail.mrtg.cfg
indimail-*/.gitignore
indimail-*/patches/courier-imap-3.0.8.patch.gz
indimail-*/patches/fetchmail-6.3.9.patch.gz
indimail-*/doc/Quick-INSTALL
indimail-*/doc/README.indimail
indimail-*/Makefile
indimail-*/svctool
indimail-*/InLookup.8
indimail-*/IndiMail.7
fetchmail-*/fetchmail
fetchmail-*/fetchmail.cron
fetchmail-*/fetchmail.down
fetchmail-*/fetchmail.up
fetchmail-*/fetchmailconf
fetchmail-*/fixwvdialconf
fetchmail-*/genlsm.sh
fetchmail-*/ip-down.local
fetchmail-*/ip-up.local
fetchmail-*/po/POTFILES
fetchmail-*/slemsPrivate
fetchmail-*/writefifo
