*.o
*.lo
*.la
*.BAK
*.a
*.org
post_handle
configure.lineno
autom4te.cache
m4
*/m4/ltversion.m4
*/m4/libtool.m4
*/m4/ltoptions.m4
*/m4/ltsugar.m4
*/m4/lt~obsolete.m4
COPYING
ilmgrd-*
Quick-INSTALL
README
README-CLUSTER
INSTALL-MINI
INSTALL-MYSQL
INSTALL-RPM
INSTALL
.gitignore
depcomp
.deps
cscope.*
.DS_Store
RELEASE
dist
experiments
packages
rpmbuild
clamav-0.97
clamav-0.97.1
clamav-0.97.2
clamav-0.97.3
clamav-0.97.4
clamav-0.97.5
clamav-0.97.?
clamav-0.98
private
install-sh
missing
configure
config.guess
config.h.in
config.sub
config.status
aclocal.m4
ltmain.sh
config.log
stamp-h1
libtool
config.h
*.lib
*/.deps
*/.libs
Makefile
Makefile.in
#
# remaining programs
#
courier-imap-3.0.8-mac
IndiMail
mariadb-5.1.42
netqmail-addons
indimail-2.0
fortune-*/.gitignore
altermime-*/altermime
flash-*/alarms
flash-*/background
flash-*/countdown
flash-*/crypt
flash-*/flash
flash-*/system.menu
flash-*/system.rc
mpack-*/README
mpack-*/mpack
mpack-*/munpack
ripmime-*/ripmime
ripmime-*/ripole
indimail-*/ChangeLog
indimail-*/RELEASE-Notes.in
indimail-*/doc/ChangeLog
indimail-*/INSTALL
indimail-*/RELEASE-Notes
indimail-*/doc/INSTALL-RPM
indimail-*/doc/INSTALL-MINI
indimail-*/doc/INSTALL.indimail
indimail-*/doc/README-CLUSTER
indimail-*/doc/RELEASE-Steps
indimail-*/doc/INSTALL-MYSQL
indimail-*/doc/RELEASE-Notes
indimail-*/indimail.settings
indimail-*/indimail.mrtg.cfg
indimail-*/.gitignore
indimail-*/patches/courier-imap-3.0.8.patch.gz
indimail-*/patches/courier-imap-4.8.2.patch.gz
indimail-*/patches/fetchmail-6.3.9.patch.gz
indimail-*/doc/Quick-INSTALL
indimail-*/doc/README.indimail
indimail-*/Makefile
indimail-*/svctool
indimail-*/authgeneric
indimail-*/InLookup.8
indimail-*/IndiMail.7
fetchmail-*/fetchmail
fetchmail-*/fetchmail.cron
fetchmail-*/fetchmail.down
fetchmail-*/fetchmail.up
fetchmail-*/fetchmailconf
fetchmail-*/fixwvdialconf
fetchmail-*/genlsm.sh
fetchmail-*/ip-down.local
fetchmail-*/ip-up.local
fetchmail-*/po/POTFILES
fetchmail-*/slemsPrivate
fetchmail-*/writefifo
fetchmail-*/rcfile_l.c
fetchmail-*/rcfile_y.c
fetchmail-*/rcfile_y.h
icampaign-*
*/debian/*.ex
*/debian/changelog
*/debian/files
*/debian/indimail.cron.d
*/debian/indimail.debhelper.log
*/debian/indimail.substvars
*/debian/orules
*/debian/patches
*/debian/source
*/debian/postrm
*/debian/preinst
*/debian/prerm
*/debian/postinst
*/debian/rules
indimail-*/rules
indimail-*/postrm
indimail-*/postinst
indimail-*/prerm
indimail-*/preinst
.libs
conffiles
*.cdbs-orig
configure-stamp
build-stamp
indimail-*/debian/indimail
indimail_*.debian.tar.gz
indimail_*.dsc
indimail_*.changes
indimail_*.deb
indimail_*.orig.tar.gz
logalert-*/src/logalert
indimail-*/.pc
iwebadmin*/debian/*.dsc
iwebadmin-*/.pc
iwebadmin-*/*.mk
iwebadmin_*.deb
iwebadmin_*.dsc
iwebadmin_*.changes
iwebadmin_*.orig.tar.gz
iwebadmin_*.debian.tar.gz
*.deb
*.debhelper.log
*.gz
indium_*.dsc
indium_*.changes
ilmgrd_*.dsc
ilmgrd_*.changes
obs.mk
*/debian/*.dsc
*/debian/*.postinst
*/debian/*.postrm
*/debian/*.preinst
*/debian/*.prerm
*/debian/*.install
*/debian/obs_deb_prep
*/debian/_service
README.vmware
*/depcomp
*/install-sh
config.h.in~
mkinstalldirs
