Source: ircube
Section: misc
Priority: optional
Maintainer: Manvendra Bhangui <manvendra@indimail.org>
Standards-Version: 3.9.1
Homepage: http://indimail.sourceforge.net
Vcs-Git:git://indimail.git.sourceforge.net/gitroot/indimail/indimail
Vcs-Browser: http://indimail.git.sourceforge.net/git/gitweb.cgi?p=indimail/indimail;a=summary

Package: ircube
Architecture: any
Pre-Depends: indimail (>= 2.0 ), iwebadmin, roundcubemail
Depends: coreutils
Recommends: indimail
Description: a collection of plugins for RoundCube Mail
 This package includes RoundCube plugins that work with IndiMail
 .
 sauserprefs - Control Bogofilter settings from within Roundcube
 .
 markasjunk2 - Adds a new button to the mailbox toolbar to mark the
 selected messages as Junk/Not Junk, optionally detaching original
 messages from spam reports if the message is not junk and learning
 junk/not junk using various methods (bogo-learn, etc.)
 .
 iwebadmin - This is a plugin that adds tabs to the Roundcube settings
 page, allowing the user to set their vacation message or change their
 password. Behind the scenes, it logs in to iwebadmin as that user to
 make the changes. Both vacation and password tabs can be individually disabled.
 .
 Note: This screen-scrapes your iwebadmin installation, so currently only
 works if iwebadmin is in English.
