Source: indimail-mta
Section: mail
Priority: extra
Maintainer: Manvendra Bhangui <indimail-mta@indimail.org>
Standards-Version: 3.9.1
Build-Depends: cdbs, debhelper (>= 9), gcc, g++, automake, libdkim-dev, libsrs2-dev, libqmail-dev, libldap2-dev, libssl-dev, mime-support, m4, gawk
Homepage: https://github.com/mbhangui/indimail-mta

Package: indimail-mta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, daemontools, ucspi-tcp, net-tools, coreutils, binutils, diffutils, procps
Provides: indimail-mini
Conflicts: indimail-mini
Replaces: indimail-mini
Description: indimail-mta provides a standalone SMTP server that is part of the IndiMail
 messaging platform. It comprises of the following packages
 .
 qmail,
 serialmail,
 qmailanalog,
 dotforward,
 fastforward,
 mess822,
 daemontools,
 ucspi-tcp,
 .
 The package combines qmail with other packages like libsrs2

Package: indimail-mini
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils, diffutils, binutils
Section: misc
Architecture: any
Breaks: indimail-mta
Description: IndiMail - Mini Client Installation
 This package contains sendmail, qmail-inject and qmail-qmqpc - Bare minimum
 programs to have a mini-indimail installation.
 .
 A mini-indimail installation doesn't have a mail queue. It gives each new message to a
 central server using QMQP.
