#
# $Log: indimail.te,v $
# Revision 2.25  2018-01-09 12:13:18+05:30  Cprogrammer
# removed indimail-mta specific entries
#
# Revision 2.24  2017-08-23 13:24:49+05:30  Cprogrammer
# added rule for iwebadmin
#
# Revision 2.23  2017-04-12 13:19:20+05:30  Cprogrammer
# added fifo open, read perm for djbdns supervise
#
# Revision 2.22  2017-04-11 01:00:26+05:30  Cprogrammer
# added rules for tinydnssec
#
# Revision 2.21  2017-04-02 22:42:22+05:30  Cprogrammer
# added rename capability for iwebadmin on var_t
#
# Revision 2.20  2017-03-21 11:11:07+05:30  Cprogrammer
# added dac_override capability for iwebadmin
#
# Revision 2.19  2017-03-01 23:08:59+05:30  Cprogrammer
# added selinux rules
#
# Revision 2.18  2017-01-04 21:46:15+05:30  Cprogrammer
# added rules for fifo
#
# Revision 2.17  2017-01-04 12:58:13+05:30  Cprogrammer
# added rules for svscanboot, svc
#
# Revision 2.16  2016-06-07 10:53:21+05:30  Cprogrammer
# added selinux rules for iwebadmin
#
# Revision 2.15  2016-06-06 16:40:03+05:30  Cprogrammer
# removed rpm_script_tmp_t
#
# Revision 2.14  2016-06-02 17:46:35+05:30  Cprogrammer
# selinux rules for FHS compliant indimail
#
# Revision 2.13  2016-04-22 10:38:53+05:30  Cprogrammer
# added selinux rules for iwebadmin
#
# Revision 2.12  2016-04-22 00:55:26+05:30  Cprogrammer
# added selinux definitions of iwebadmin permission to load shared objects in /var/indimail/lib64
#
# Revision 2.11  2016-04-11 12:00:49+05:30  Cprogrammer
# added new rules for mysql
#
# Revision 2.10  2016-04-03 07:46:24+05:30  Cprogrammer
# added create permission for mysqld_t in var_t
#
# Revision 2.9  2016-03-31 17:35:56+05:30  Cprogrammer
# added new selinux definitions
#
# Revision 2.8  2016-03-10 12:24:12+05:30  Cprogrammer
# added new definitions for var_lib, mandb
#
# Revision 2.7  2016-03-01 23:15:17+05:30  Cprogrammer
# added new perms for mysqld and mandb
#
# Revision 2.6  2016-01-22 14:56:13+05:30  Cprogrammer
# added new selinux definitions for mysqld_t
#
# Revision 2.5  2016-01-21 11:55:52+05:30  Cprogrammer
# added new policy definitions for antivirus_t
#
# Revision 2.4  2016-01-13 13:04:31+05:30  Cprogrammer
# added new selinux definition for clamav
#
# Revision 2.3  2014-06-19 08:31:57+05:30  Cprogrammer
# added usr_tmp_t privilege for mysqld
#
# Revision 2.2  2014-05-15 11:08:15+05:30  Cprogrammer
# added open access for mandb
#
# Revision 2.1  2014-05-14 18:25:19+05:30  Cprogrammer
# selinux module config
#
#
# $Id: indimail.te,v 2.25 2018-01-09 12:13:18+05:30 Cprogrammer Exp mbhangui $
# 
#
# semanage permissive -a svc_start_t
# semanage permissive -d svc_start_t
# disable dontaudit statments
# semodule -DB
# enable dontaudit statements
# semodule -B
module indimail 1.1;

require {
	type initrc_t;
	type httpd_t;
	type httpd_sys_script_t;
	type mysqld_t;
	type nscd_t;
	type pop_port_t;
	type semanage_t;
	type home_root_t;
	type tmp_t;
	type user_home_t;
	type user_home_dir_t;
	type user_tmp_t;
	type usr_t;
	type var_t;
	type var_lib_t;
	class capability { chown net_bind_service dac_override dac_read_search fowner fsetid setuid setgid sys_ptrace };
	class dir { search getattr setattr read create write rmdir remove_name open add_name };
	class fifo_file { create read write open unlink getattr setattr };
	class file { execute getattr setattr read create link lock rename execute_no_trans write unlink open append ioctl };
	class lnk_file read;
	class fd use;
	class process { noatsecure rlimitinh siginh sigchld execmem ptrace };
	class sock_file { create write unlink getattr setattr };
	class tcp_socket { listen name_bind name_connect accept create node_bind setopt bind getattr };
	class udp_socket { bind connect read write getattr name_bind create node_bind };
	class unix_stream_socket {read write connectto };
}

#============= httpd_t ==============
allow httpd_t initrc_t:unix_stream_socket connectto;
allow httpd_t pop_port_t:tcp_socket name_connect;
allow httpd_t self:capability fowner;
allow httpd_t tmp_t:sock_file write;
allow httpd_t user_home_t:dir { setattr read create write rmdir remove_name open add_name };
allow httpd_t user_home_t:file { read write create unlink setattr };
allow httpd_t var_t:dir { write remove_name add_name };
allow httpd_t var_t:file { execute setattr read create execute_no_trans write getattr unlink open };
allow httpd_t var_t:lnk_file read;
allow httpd_t var_t:fifo_file write;

#============= httpd_sys_script_t ==============

allow httpd_sys_script_t user_home_dir_t:dir search;
allow httpd_sys_script_t user_home_t:dir { setattr getattr read create write rmdir search remove_name open add_name };
allow httpd_sys_script_t user_home_t:file { create unlink read write open getattr setattr lock unlink };
allow httpd_sys_script_t home_root_t:dir { add_name remove_name read write };
allow httpd_sys_script_t home_root_t:file { unlink read write open create lock getattr };
allow httpd_sys_script_t self:capability { fowner setuid setgid dac_override dac_read_search};
allow httpd_sys_script_t user_tmp_t:lnk_file read;
allow httpd_sys_script_t var_t:dir { create read write remove_name add_name rmdir setattr };
allow httpd_sys_script_t var_t:file { execute setattr read create execute_no_trans write getattr rename unlink open lock };
allow httpd_sys_script_t var_t:lnk_file read;

#============= mysqld_t ==============
allow mysqld_t usr_t:file { append create rename write unlink };
allow mysqld_t var_t:file { create getattr open lock read rename unlink write };
allow mysqld_t var_t:dir { add_name remove_name create write };
allow mysqld_t user_tmp_t:file open;
allow mysqld_t tmp_t:sock_file {create write unlink };
allow mysqld_t var_lib_t:file { open write read };

#============= nscd_t ==============
allow nscd_t initrc_t:unix_stream_socket connectto;
allow nscd_t tmp_t:sock_file write;

#============= semanage_t ==============
allow semanage_t initrc_t:unix_stream_socket connectto;
allow semanage_t tmp_t:sock_file write;
