bf_compact
bf_copy
bf_tar
depcomp
version.c
mkinstalldirs
bogogrep
doc/bf_compact.1
doc/bf_compact.html
doc/bf_copy.1
doc/bf_copy.html
doc/bf_tar.1
doc/bf_tar.html
doc/bogofilter.1
doc/bogofilter.html
doc/bogolexer.1
doc/bogolexer.html
doc/bogotune.1
doc/bogotune.html
doc/bogoupgrade.1
doc/bogoupgrade.html
doc/bogoutil.1
doc/bogoutil.html
src/bogofilter
src/bogolexer
src/bogotune
src/bogoupgrade
src/bogoutil
src/directories.c
src/tests/t.config
src/tests/t.query.config
