Source: bogofilter-wordlist
Section: misc
Priority: extra
Maintainer: Manvendra Bhangui <mbhangui@gmail.com>
Standards-Version: 3.9.1
Homepage: http://indimail.sourceforge.net
Vcs-Git:git://indimail.git.sourceforge.net/gitroot/indimail/indimail
Vcs-Browser: http://indimail.git.sourceforge.net/git/gitweb.cgi?p=indimail/indimail;a=summary

Package: bogofilter-wordlist
Architecture: any
Depends: ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: SPAM database for bogofilter in Berkeley DB format
 .
 bogofilter-wordlist provides a SPAM database for bogofilter in Berkeley DB format
