iwebadmin.spec
*-rpmlintrc
qmailadmin.release
iwebadmin
Makefile
Makefile.in
aclocal.m4
configure
config.h.in
missing
mkinstalldirs
config.guess
config.sub
depcomp
install-sh
obs.mk
iwebadmin_perm_list
compile
debian/obs.mk
debian/*.gz
debian/iwebadmin-*.dsc
debian/*.dsc
debian/postinst
debian/postrm
debian/rules
debian/changelog
debian/README
ltmain.sh
m4
