obs.mk
logalert
showbytes
logsrv
incrmesg
rpclog
logclient
logclient.1
*.o
parser.c
parser.h
logalert.spec
etc
TODO
ylwrap
lex.c
logalert-*rpmlintrc
logalert_perm_list
debian/changelog
autom4te.cache
