libtool
config.status
config.h
.libs
Makefile
Makefile.in
stamp-h1
config.log
nssd
configure
nssd.8
nssd.conf.5
check_getpw
nssd.settings
aclocal.m4
compile
config.guess
config.h.in
config.sub
install-sh
ltmain.sh
m4
missing
