#!/usr/bin/make -f

# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
# export DH_COMPAT=4
CFLAGS=-g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

prefix=/usr
sysconfdir=/etc/indimail
version=1.05
#
DESTDIR=$(CURDIR)/debian/tinydnssec.tmp

build: build-stamp
build-stamp:
	dh_testdir
	#
	# Extract source archives
	#
	# run make
	#
	$(MAKE) -s DESTDIR=$(DESTDIR)
	pod2man -s 8 -c '' "tinydns-sign" >tinydns-sign.8
	if [ -d dq-20161210 ] ; then \
		cd dq-20161210 ; \
		$(MAKE) -s ; \
		cd ..; \
	fi
	touch build-stamp

clean:
	rm -f build-stamp configure-stamp
	/bin/rm -rf $(DESTDIR)
	$(MAKE) -s clean; $(MAKE) -s distclean || true
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep || dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=$(DESTDIR) -s install
	if [ -d dq-20161210 ] ; then \
		cd dq-20161210 ; \
  		sh make-install.sh $(DESTDIR) ; \
		cd ..; \
	fi

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=$(DESTDIR) -ptinydnssec
	dh_installchangelogs
	dh_installdocs dq-20161210/README.dq dq-20161210/INSTALL.dq doc/COPYING.tinydnssec doc/README.tinydnssec doc/README-ipv6.tinydnssec doc/djbdnsFAQ.pdf doc/HOWTO doc/LifeWithdjbdns.pdf doc/README.dnstransmit.bug doc/Thedjbway_djbdns.pdf
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here. 
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
