822addr
822body
822bodyfilter
822date
822field
822fields
822header
filterit
822headerfilter
822headerok
822print
822received
*.a
addrlist
archpkg*.install
atrn
auto_ageout.h
auto_assign.c
auto_break.c
auto-ccld.sh
auto_cleaner.c
auto_control.c
auto_ezmlm.c
auto-fnlen
auto_fnlen.h
auto-gid
auto-int
auto-int8
auto_libexec.c
auto_libexec.o
auto_patrn.c
auto-pidt
auto_pidt.h
auto_prefix.c
auto_qmail.c
auto_qmail.md
auto_qstdin.c
autoresponder
auto_retries.h
auto_ripmime_cmd.c
auto_scancmd.c
auto_spawn.c
auto_split.c
auto_spool.c
auto-str
auto-strarr
auto_sysconfdir.c
auto-uid
auto_uids.c
auto_uids.h
auto_usera.c
batv
binm1
binm1+df
binm2
binm2+df
binm3
binm3+df
bouncesaying
cdb-database
cdb-database.8
cdb-database.o
cdbdump
cdbget
cdbgetm
cdbmake
cdbmake-12
cdbmake-sv
cdbstats
cdbtest
checkaddr
checkdomain
chkspawn
choose
cidr
cleanq
cleanq.8
columnt
compile
condredirect
condredirect.1
condtomaildir
config-fast
conf-libexec
conf-prefix
conf-qmail
conf-release
conf-servicedir
conf-shared
conf-sysconfdir
create_services
indimail-mta.cron
ctrlenv
ctrlenv.8
ctrlenv.o
custom_error.o
datemail
datemail.1
ddist
debian/changelog
debian/control
debian/copyright
debian/indimail-mini.postinst
debian/indimail-mini.postrm
debian/indimail-mini.preinst
debian/indimail-mini.prerm
debian/indimail-mta.install
debian/indimail-mta.postinst
debian/indimail-mta.postrm
debian/indimail-mta.preinst
debian/indimail-mta.prerm
debian/Makefile
deferrals
dk-filter
dk-filter.8
dknewkey
dknewkey.8
dktest
dktest.8
dnsblcheck
dnsblcheck.o
dnscname
dnsfq
dns.h
dnsip
dnsmxip
dnsptr
dnstlsarr
dnstlsarr.o
dnstlsarr.1
dnstxt
doc/INSTALL-MINI
domainkeys.h
do_rate.o
dot-forward
dot-forward.1
dot-qmail.5
drate
drate.1
*.dsc
etrn
except
failures
fastforward
fastforward.1
filterto
filterto.1
find-systype
fn_handler.o
forward
forward.1
getDomainToken.o
getqueue.o
greydaemon
hasdkim.h
hasifaddr.h
hasldap.h
haslibgsasl.h
haslibrt.h
hasmysql.h
hasnpbg1.h
hassalen.h
hassmtputf8.h
hasspnam.h
hassrs.h
hastlsa.h
hastlsv1_1_client.h
hastlsv1_1_server.h
hastlsv1_2_client.h
hastlsv1_2_server.h
hasuserpw.h
haveip6.h
help.t
home
home+df
hostname
ifaddr
iftocc
iftoccfrom
indimail-control.5
indimail-env.7
indimail-mta.7
indimail-mta.changes
indimail-mta.fc
indimail-mta-permissions.easy
indimail-mta-permissions.paranoid
indimail-mta-permissions.secure
indimail-mta.perms
indimail-mta-release
indimail-mta.spec
indimail-srs.5
indimail_stub.o
inewaliases
installer
instcheck
ipmeprint
irmail
ldap-checkpwd
leapsecs
leapsecs.dat
leapsecs.o
*.lib
load
load_mysql.o
maildir2mbox
maildircmd
maildirdeliver
maildir_deliver.o
maildirqmtp
maildirserial
maildirserial.1
maildirsize
maildirsmtp
mailfilter.o
mailsubj
make-compile
Makefile.
makeheader
make-load
make-recipients
make-recipients.1
make-text
Makevars.
matchup
mbox2maildir
mini-smtpd
mini-smtpd.o
mlmatchup
mlmatchup.8
multi-queue.7
multirotate
mysql_config
mysql_config.o
mysql_inc
newinclude
new-inject
new-inject.1
nowutc
nowutc.o
*.o
ofmipd
ofmipname
parsedate
pidopen.o
PKGBUILD
plugin_init.3
plugtest
plugtest.1
predate
preline
printforward
printmaillist
proc
proc+df
qaes
qarf
qbase64
qdane
qdane.o
qf-log-subject
qfrontend
qfrontend.1
qf-smtp-ratelimit
qhpsi
qlocal_upgrade
qmail-cat
qmail-cdb
qmail-cdb.8
qmail-clean
qmail-clean.8
qmailconfig
qmail-daned
qmail-daned.8
qmail-daned.o
qmail-direct
qmail-direct.8
qmail-direct.o
qmaildirmake
qmaildirwatch
qmail-dk
qmail-dk.8
qmail-dkim
qmail-dkim.8
qmail-getpw
qmail-getpw.8
qmail-greyd
qmail-inject
qmail-inject.8
qmail-limits.7
qmail-local
qmail-local.8
qmail-lspawn
qmail-multi
qmail-multi.8
qmail-newu
qmail-newu.8
qmail-nullqueue
qmail-popbull
qmail-poppass
qmail-poppass.8
qmail-pw2u
qmail-pw2u.8
qmail-qfilter
qmail-qmqpc
qmail-qmqpd
qmail-qmtpd
qmail-qread
qmail-qread.8
qmail-queue
qmail-queue.8
qmail-queue-clients.7
qmail-remote
qmail-remote.8
qmail-rm
qmail-rm.1
qmail-rspawn
qmail-send
qmail-send.8
qmail-showctl
qmail-showctl.8
qmail-smtpd
qmail-smtpd.8
qmail-spamfilter
qmail-spamfilter.8
qmail-spamfilter.o
qmail-sql
qmail-sql.8
qmail-start
qmail-start.8
qmail-tcpok
qmail-tcpto
qmail-upq
qmail-users.5
qmonitor
qmonitor.8
qmonitor.o
qmta-send
qmta-send.8
qmta-send.service
qmulti.o
qnotify
qnotify.1
qpq
qquote
qreceipt
qreceipt.1
qscanq
qscanq.8
qscanq-stdin
qscheduler
qscheduler.o
qsmhook
qtop
qtop.1
query_skt.o
queue-fix
queue-fix.8
queue_load.o
qupgrade
recipients
relaytest
replier
replier.1
replier-config
report.o
rewind
rhosts
rpmattr
rrforward
rrforward.1
rrt
rrt.1
rsmtp
rsmtpfailures
rsmtprdomains
rsmtprecipients
rsmtpsdomains
rsmtpsenders
rspamhist
rspamrdomain
rspamsdomain
rspamstat
rt.lib
run-cleanq
run-cleanq.8
rxdelay
senders
sendmail
send_qload.o
serialcmd
serialqmtp
serialsmtp
setforward
setmaillist
setqload
setqload.o
slowq-send
slowq-send.8
slowq-send.o
slowq-start
slowq-start.8
slowq-start.o
smtp-matchup
*.so
sortedtest
spawn-filter
spawn-filter.8
spfquery
splogger
sql-database
sql-database.8
sql-database.o
srsfilter
sslerator
sslerator.o
sslerator.8
starttls.o
dotls.o
successes
suids
surblfilter
surblfilter.8
surblqueue
svctool
svctool.8
swaks
sys-checkpwd
systype
tcp-env
test-recipients
test-recipients.o
test-recipients.1
testzero
tlsacheck.o
todo-proc
todo-proc.8
tokenize
tryfts.o
uacl
udpclient
udplogger
update_tmprsadh
whois
whois.o
xqp
xrecipient
xsender
yearcal
yearcal.o
zddist
zdeferrals
zfailures
zoverall
zrecipients
zrhosts
zrxdelay
zsenders
zsendmail
zsmtp
zspam
zsuccesses
zsuids
BIN
DIRS
INPUT
MAN
SBIN
SHARED
dossl.o
parse_env.o
varargs.h
indimail-services.7
favicon.base64
filterit.1
tests/spfquery.txt
backup.conf
rd-remote
printass
printass.1
hasunlinkat.h
hasrenameat.h
authcram
authcram.o
