debian/indimail-mta.install
debian/indimail-mta.postrm
debian/indimail-mta.prerm
debian/indimail-mta.postinst
debian/indimail-mta.preinst
debian/indimail-mini.postinst
debian/indimail-mini.postrm
debian/indimail-mini.preinst
debian/indimail-mini.prerm
debian/changelog
debian/copyright
debian/control
auto_libexec.o
qmail-srs.5
indimail-mta.fc
indimail-mta.perms
conf-prefix
conf-shared
conf-sysconfdir
conf-qmail
conf-servicedir
leapsecs.dat
udplogger
udpclient
dns.h
drate.1
hassrs.h
hasifaddr.h
srsfilter
cidr
drate
irmail
822addr
822addr.0
822body
822body.0
822bodyfilter
822bodyfilter.0
822date
822date.0
822field
822field.0
822fields
822fields.0
822header
822header.0
822headerfilter
822headerfilter.0
822headerok
822headerok.0
822print
822print.0
822received
822received.0
addcr
addresses.0
addrlist
argv0
atrn
auto_libexec.c
auto_ageout.h
auto_control.c
auto_break.c
auto-ccld.sh
auto_cleaner.c
auto_ezmlm.c
auto-fnlen
auto_fnlen.h
auto-gid
auto-int
auto-int8
auto_patrn.c
auto-pidt
auto_pidt.h
auto_qmail.c
auto_assign.c
auto_shared.c
auto_sysconfdir.c
auto_prefix.c
auto_qstdin.c
auto_retries.h
auto_ripmime_cmd.c
auto_scancmd.c
auto_spawn.c
auto_split.c
auto_spool.c
auto-str
auto-strarr
auto-uid
auto_uids.c
auto_uids.h
auto_usera.c
batv
binm1
binm1+df
binm2
binm2+df
binm3
binm3+df
bouncesaying
bouncesaying.0
caldate.0
caldate_mjd.0
caltime.0
caltime_tai.0
cdbdump
cdbget
cdbmake
cdbmake-12
cdbmake-sv
cdbstats
cdbtest
checkaddr
checkaddr.0
checkdomain
checkdomain.0
chkshsgr
chkspawn
choose
cleanq
cleanq.0
columnt
columnt.0
compile
condredirect
condredirect.0
condtomaildir
condtomaildir.0
qmailconfig
config.0
config-fast
datemail
ddist
deferrals
delcr
direntry.h
dk-filter
dk-filter.8
dknewkey
dktest
dktest.8
dnscname
dnsfq
dnsip
dnsmxip
dnsptr
dnstxt
domainkeys.h
dot-forward
dot-forward.0
dot-qmail.0
dot-qmail.5
elq
envdir
envelopes.0
envmigrate
envuidgid
etrn
except
except.0
failures
fastforward
fastforward.0
fghack
filterto
filterto.0
find-systype
fixcrio
forgeries.0
forward
forward.0
*.so
greydaemon
greydaemon.0
hasdkim.h
hasflock.h
hasindimail.h
hasmkffo.h
hasnpbg1.h
hassalen.h
hassgact.h
hassgprm.h
hasshsgr.h
haswaitp.h
haveip6.h
help.t
home
home+df
hostname
idedit
ifaddr
ifaddr.0
iftocc
iftocc.0
iftoccfrom
iftoccfrom.0
inc_deps
svscan.plist
instcheck
iopause.h
ipmeprint
leapsecs.0
lib_deps
load
logselect
maildir.0
maildir2mbox
maildir2mbox.0
maildircmd
maildircmd.0
maildirdeliver
maildirdeliver.0
maildirqmtp
maildirqmtp.0
maildirserial
maildirserial.0
maildirsmtp
maildirsmtp.0
maildirwatch
maildirwatch.0
mailsubj
mailsubj.0
make-compile
makeheader
makelib
make-load
make-makelib
make-text
matchup
matchup.0
mbox.0
mbox2maildir
mlmatchup
mlmatchup.0
mlmatchup.8
logselect.8
multilog
multilog-matchup
multipipe
multirotate
multitail
inewaliases
newaliases.0
newinclude
newinclude.0
new-inject
new-inject.0
ofmipd
ofmipd.0
ofmipname
ofmipname.0
parsedate
pgrphack
pinq
plainencode
predate
preline
preline.0
printforward
printforward.0
printmaillist
printmaillist.0
proc
proc+df
qail
qfilelog
qhpsi
qmail.0
autoresponder
autoresponder.0
qmail-cat
qmail-cdb
qmail-cdb.0
qmail-cdb.8
qmail-clean
qmail-clean.0
qmail-command.0
qmail-control.0
qmail-control.5
qmailctl
qmail-daemon
qmaildirmake
qmaildirmake.0
qmail-dk
qmail-dk.0
qmail-dk.8
qmail-dkim
qmail-dkim.8
qmail-getpw
qmail-getpw.0
qmail-getpw.8
qmail-greyd
qmail-greyd.0
qmail-header.0
qmail-inject
qmail-inject.0
qmail-inject.8
qmail-limits.0
qmail-limits.7
qmail-local
qmail-local.0
qmail-local.8
qmail-log.0
qmail-lspawn
qmail-lspawn.0
qmail-multi
qmail-multi.0
qmail-multi.8
qmail-newmrh
qmail-newmrh.0
qmail-newmrh.8
qmail-newu
qmail-newu.0
qmail-newu.8
qmail-nullqueue
qmail-popbull
qmail-popbull.0
qmail-poppass
qmail-poppass.0
qmail-poppass.8
qmail-pw2u
qmail-pw2u.0
qmail-pw2u.8
qmail-qfilter
qmail-qfilter.0
qmail-qmHandle
qmail-qmqpc
qmail-qmqpc.0
qmail-qmqpd
qmail-qmqpd.0
qmail-qmtpd
qmail-qmtpd.0
qmail-qread
qmail-qread.0
qmail-qstat
qmail-qstat.0
qmail-queue
qmail-queue.0
qmail-queue.8
recipient-cdb
recipient-cdb.0
recipient-cdb.8
qmail-remote
qmail-remote.0
qmail-remote.8
qmail-rm
qmail-rm.0
qmail-rm.1
qmail-rspawn
qmail-rspawn.0
qmail-send
qmail-send.0
qmail-send.8
qmail-showctl
qmail-showctl.0
qmail-sigalrm
qmail-sighup
qmail-sigterm
qmail-smtpd
qmail-smtpd.0
qmail-smtpd.8
qmail-start
qmail-start.0
qmail-start.8
qmail-tcpok
qmail-tcpok.0
qmail-tcpto
qmail-tcpto.0
qmail-todo
qmail-todo.0
qmail-todo.8
qmail-upq
qmail-users.0
qmail-users.5
qpq
qquote
qreceipt
qreceipt.0
qscanq
qscanq.0
qscanq.8
qscanq-stdin
qscanq-stdin.0
qsmhook
queue-fix
readproctitle
recipients
recordio
relaytest
replier
replier.0
replier-config
replier-config.0
rewind
rewind.0
rewritehost.0
rewriting.0
rhosts
rpmattr
rrforward
rrforward.0
rsmtp
rsmtpfailures
rsmtprdomains
rsmtprecipients
rsmtpsdomains
rsmtpsenders
rspamhist
rspamrdomain
rspamsdomain
rspamstat
run-cleanq
run-cleanq.0
run-cleanq.8
rxdelay
select.h
senders
sendmail
serialcmd
serialcmd.0
serialqmtp
serialqmtp.0
serialsmtp
serialsmtp.0
setforward
setforward.0
setlock
setmaillist
setmaillist.0
setuidgid
smtp-matchup
softlimit
sortedtest
spawn-filter
spawn-filter.0
spawn-filter.8
spfquery
spipe
splogger
splogger.0
successes
suids
supervise
svc
svok
svscan
svscanboot
svscanboot.0
svscanboot.8
svstat
systime.h
systype
tai.0
tai64n
tai64nlocal
tai64nunix
tai_now.0
tai_pack.0
tcp-env
tcp-env.0
tcp-environ.0
teepipe
testzero
tokenize
uint32.h
uint64.h
update_tmprsadh
upstart
xqp
xqp.0
xrecipient
xrecipient.0
xsender
xsender.0
zddist
zdeferrals
zfailures
zoverall
zrecipients
zrhosts
zrxdelay
zsenders
zsendmail
zsmtp
zspam
zsuccesses
zsuids
queue-fix.0
uacl
qbase64
dkim.8
hasspnam.h
hasuserpw.h
ldap-checkpwd
qmail-sql
qmail-sql.8
sys-checkpwd
cdbgetm
condredirect.1
dot-forward.1
fastforward.1
filterto.1
maildirserial.1
qreceipt.1
replier.1
rrforward.1
trywaitp
balance_outgoing
hasldap.h
qarf
plugin_init.3
plugtest
plugtest.1
surblfilter
surblfilter.8
surblqueue
systemd
qnotify
qnotify.1
swaks
rrt
rrt.1
hmac_sha1.obj
qaes
whois
whois.o
tcpopen.o
qlogselect
tai2tai64n
tai64n2tai
leapsecs
leapsecs.o
nowutc.o
taia_fmtfrac.o
taia_tai.o
nowutc
yearcal
yearcal.o
*.o
debian/_service
indimail-mta.spec
indimail-mta.changes
*.a
*.lib
hastlsv1_1_client.h
hastlsv1_1_server.h
hastlsv1_2_client.h
hastlsv1_2_server.h
svscan.8
inotify
inotify.o
hasinotify.h
hasmysql.h
mysql_config
mysql_config.o
indimail_stub.o
cronlist.q
svctool
svctool.8
indimail-mta-permissions.easy
indimail-mta-permissions.paranoid
indimail-mta-permissions.secure
doc/INSTALL-MINI
fn_handler.o
query_skt.o
qmail-daned.o
qmail-daned
tlsacheck.o
daneprog
qdane
qdane.o
hastlsa.h
*.dsc
dnstlsarr
dnstlsarr.o
qmail-daned.8
starttls.o
doc/RELEASE-Notes
maildirsize
create_services
qfrontend
qf-smtp-ratelimit
load_mysql.o
Makefile-cert
RELEASE-Notes
RELEASE-Notes.in
docker-entrypoint
forward.1
new-inject.1
qmail-qread.8
ctrlenv
ctrlenv.o
ctrlenv.8
cdb-database
cdb-database.8
cdb-database.o
sql-database
sql-database.o
sql-database.8
conf-release
debian/Makefile
installer
mysql_inc
BIN
SBIN
DIRS
MAN
SHARED
svscan_rc
datemail.1
Makefile.
Makevars.
svwait
svwait.8
qmailctl.8
debian/daemontools.postinst
debian/daemontools.postrm
qlocal_upgrade.sh
cleanq.8
docker-entrypoint.8
sslerator
sslerator.o
queue-fix.8
PKGBUILD.proto
hassmtputf8.h
PKGBUILD
archpkg*.install
qmail-direct
qmail-direct.o
qmail-direct.8
qmail-clean.8
qmail-showctl.8
maildir_deliver.o
do_rate.o
report.o
getDomainToken.o
slowq-send
slowq-send.o
slowq-start
slowq-start.o
slowq-start.8
slowq-send.8
