*.o
Makefile.
Makevars.
auto-ccld.sh
auto-str
auto_sysconfdir.c
chkshsgr
choose
compile
conf-prefix
conf-qmail
conf-servicedir
conf-shared
conf-sysconfdir
conf-release
conf-libexec
daemontools.spec
daemontools.changes
docker-entrypoint
docker-entrypoint.8
envdir
envuidgid
fghack
find-systype
hasshsgr.h
iopause.h
load
logselect
logselect.8
make-compile
make-load
minisvc
minisvc.8
multilog
multipipe
daemontools.perms
pgrphack
qfilelog
qlogselect
qmailctl
qmailctl.8
readproctitle
setlock
setuidgid
softlimit
spipe
supervise
svc
svok
svscan
svscan.8
svscanboot
svscanboot.8
svstat
svwait
svwait.8
systemd
systype
tai2tai64n
tai64n
tai64n2tai
tai64nlocal
tai64nunix
teepipe
upstart
DIRS
MAN
SBIN
LIBEXEC
SHARED
installer
auto_home.c
auto_shared.c
instcheck
svps
svscan.plist
PKGBUILD
archpkg*.install
inotify
inotify.o
hasinotify.h
openrc
BIN
INPUT
svscan_rc
set-network-wait
runpod
unlinkat.h
