dkim
Makefile.in
dkim.8
compile
depcomp
.deps
.libs
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
*.la
*.lo
*.o
autom4te.cache
*.BAK
libdkim.spec
libdkim.pc
conf-release
config.h.in~
debian/changelog
debian/debian.tar.gz
debian/libdkim-dev.install
debian/libdkim.dsc
debian/libdkim.install
