tools/srs
debian/files
debian/postinst
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
dist/
install-sh
mkinstalldirs
libsrs2/.deps/
libsrs2/.libs/
libsrs2/Makefile
libsrs2/Makefile.in
libtool
ltmain.sh
m4/
missing
stamp-h1
tools/.deps/
tools/.libs/
tools/Makefile
tools/Makefile.in
*.la
*.o
*.lo
autom4te.cache
configure.lineno
conf-release
*.BAK
config.h.in~
libsrs2.spec
libsrs2.changes
libsrs2.pc
debian/debian.tar.gz
debian/libsrs2-dev.install
debian/libsrs2.dsc
debian/libsrs2.install
debian/README.debian
debian/changelog
debian/copyright
debian/control
PKGBUILD
