src/ylwrap
ylwrap
test-driver
*.dirstamp
src/bf_compact
src/bf_copy
src/bf_tar
depcomp
bogofilter.spec
version.c
mkinstalldirs
bogogrep
doc/bf_compact.1
doc/bf_compact.html
doc/bf_copy.1
doc/bf_copy.html
doc/bf_tar.1
doc/bf_tar.html
doc/bogofilter.1
doc/bogofilter.html
doc/bogolexer.1
doc/bogolexer.html
doc/bogotune.1
doc/bogotune.html
doc/bogoupgrade.1
doc/bogoupgrade.html
doc/bogoutil.1
doc/bogoutil.html
src/bogofilter
src/bogolexer
src/bogotune
src/bogoupgrade
src/bogoutil
src/lexer_v3.c
src/directories.c
src/tests/t.config
src/tests/t.query.config
src/tests/t.crash-invalid-base64
.deps/
Makefile.in
compile
config.guess
config.sub
configure
doc/Makefile.in
doc/programmer/RISC-OS/
install-sh
ltmain.sh
missing
src/Makefile.in
src/stamp-h1
src/tests/Makefile.in
trio/Makefile.in
*.o
trio/Makefile
autom4te.cache
src/tests/Makefile
*.a
Makefile
config.log
config.status
doc/Makefile
src/Makefile
