Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
confdefs.h
INSTALL
INSTALL.html
libs/authlib/Makefile.in
libs/authlib/aclocal.m4
libs/authlib/config.h.in
libs/authlib/configure
libs/bdbobj/Makefile.in
libs/bdbobj/aclocal.m4
libs/bdbobj/config.h.in
libs/bdbobj/configure
libs/gdbmobj/Makefile.in
libs/gdbmobj/aclocal.m4
libs/gdbmobj/config.h.in
libs/gdbmobj/configure
libs/imap/Makefile.in
libs/imap/aclocal.m4
libs/imap/config.h.in
libs/imap/configure
libs/libhmac/Makefile.in
libs/libhmac/aclocal.m4
libs/libhmac/config.h.in
libs/libhmac/configure
libs/liblock/Makefile.in
libs/liblock/aclocal.m4
libs/liblock/config.h.in
libs/liblock/configure
libs/maildir/Makefile.in
libs/maildir/aclocal.m4
libs/maildir/config.h.in
libs/maildir/configure
libs/makedat/Makefile.in
libs/makedat/aclocal.m4
libs/makedat/config.h.in
libs/makedat/configure
libs/md5/Makefile.in
libs/md5/aclocal.m4
libs/md5/config.h.in
libs/md5/configure
libs/numlib/Makefile.in
libs/numlib/aclocal.m4
libs/numlib/config.h.in
libs/numlib/configure
libs/random128/Makefile.in
libs/random128/aclocal.m4
libs/random128/config.h.in
libs/random128/configure
libs/rfc1035/Makefile.in
libs/rfc1035/aclocal.m4
libs/rfc1035/config.h.in
libs/rfc1035/configure
libs/rfc2045/testrfc6533parser
libs/rfc2045/Makefile.in
libs/rfc2045/aclocal.m4
libs/rfc2045/configure
libs/rfc822/Makefile.in
libs/rfc822/aclocal.m4
libs/rfc822/config.h.in
libs/rfc822/configure
libs/rootcerts/Makefile.in
libs/rootcerts/aclocal.m4
libs/rootcerts/configure
libs/sha1/Makefile.in
libs/sha1/aclocal.m4
libs/sha1/config.h.in
libs/sha1/configure
libs/soxwrap/Makefile.in
libs/soxwrap/aclocal.m4
libs/soxwrap/configure
libs/tcpd/Makefile.in
libs/tcpd/aclocal.m4
libs/tcpd/config.h.in
libs/tcpd/configure
libs/unicode/Makefile.in
libs/unicode/aclocal.m4
libs/unicode/compile
libs/unicode/config.guess
libs/unicode/config.sub
libs/unicode/configure
libs/unicode/depcomp
libs/unicode/install-sh
libs/unicode/ltmain.sh
libs/unicode/missing
libs/waitlib/Makefile.in
libs/waitlib/aclocal.m4
libs/waitlib/config.h.in
libs/waitlib/configure
ltmain.sh
m4/
missing
maildirkw.1
maildirmake
maildirmake.1
makedatprog
makeimapaccess
makeimapaccess.8
mkdhparams
mkdhparams.8
mkimapdcert
mkimapdcert.8
mkpop3dcert
mkpop3dcert.8
packaging/suse/courier-imap.init
packaging/systemd/courier-imap.service
packaging/systemd/courier-imap.sysvinit
pop3d
pop3d-ssl.dist
pop3d-ssl.rc
pop3d.8
pop3d.cnf
pop3d.dist
pop3d.rc
pop3login
pop3login.8
quotawarnmsg.example
sharedindexinstall
sharedindexinstall.1
sharedindexsplit
sharedindexsplit.1
stamp-h1
*.lo
*.a
*.o
.libs/
Makefile
autom4te.cache/
config.h
config.log
config.status
courier-imap.spec
couriertcpd
couriertcpd.1
couriertls.1
dbobj.config
dbobj.h
deliverquota
deliverquota.8
imapd
imapd-ssl.dist
imapd-ssl.rc
imapd.8
imapd.cnf
imapd.dist
imapd.rc
imaplogin
imaplogin.8
libs/authlib/.deps/
libs/authlib/.libs/
libs/authlib/Makefile
libs/authlib/authchangepwdir.h
libs/authlib/authenumerate
libs/authlib/authlib.7
libs/authlib/authshadow
libs/authlib/authstaticlist.c
libs/authlib/authtest
libs/authlib/autom4te.cache/
libs/authlib/config.h
libs/authlib/config.log
libs/authlib/config.status
libs/authlib/installlist
libs/authlib/libauth.la
libs/authlib/libauthmod.la
libs/authlib/libauthshadow.la
libs/authlib/libtool
libs/authlib/modulelist
libs/bdbobj/.deps/
libs/bdbobj/.libs/
libs/bdbobj/Makefile
libs/bdbobj/autom4te.cache/
libs/bdbobj/config.h
libs/bdbobj/config.log
libs/bdbobj/config.status
libs/bdbobj/libbdbobj.la
libs/bdbobj/libtool
libs/bdbobj/testbdb
libs/gdbmobj/.deps/
libs/gdbmobj/.libs/
libs/gdbmobj/Makefile
libs/gdbmobj/autom4te.cache/
libs/gdbmobj/config.h
libs/gdbmobj/config.log
libs/gdbmobj/config.status
libs/gdbmobj/libgdbmobj.la
libs/gdbmobj/libtool
libs/gdbmobj/testgdbm
libs/imap/.deps/
libs/imap/.libs/
libs/imap/Makefile
libs/imap/autom4te.cache/
libs/imap/config.h
libs/imap/config.log
libs/imap/config.status
libs/imap/imapd
libs/imap/imapd-ssl.dist
libs/imap/imapd.8
libs/imap/imapd.cnf
libs/imap/imapd.cnf.openssl
libs/imap/imapd.dist
libs/imap/imapd.html
libs/imap/imapd.pam
libs/imap/imaplogin
libs/imap/libimapd.la
libs/imap/libimaplogin.la
libs/imap/libpop3d.la
libs/imap/libtool
libs/imap/makeimapaccess.html
libs/imap/mkdhparams.html
libs/imap/mkimapdcert.html
libs/imap/mkpop3dcert.html
libs/imap/pop3d.cnf.openssl
libs/imap/pop3d.html
libs/imap/pop3d.pam
libs/imap/testsuitefix.pl
libs/libhmac/.deps/
libs/libhmac/.libs/
libs/libhmac/Makefile
libs/libhmac/autom4te.cache/
libs/libhmac/config.h
libs/libhmac/config.log
libs/libhmac/config.status
libs/libhmac/libhmac.la
libs/libhmac/libtool
libs/libhmac/md5hmactest
libs/libhmac/sha1hmactest
libs/liblock/.deps/
libs/liblock/.libs/
libs/liblock/Makefile
libs/liblock/autom4te.cache/
libs/liblock/config.h
libs/liblock/config.log
libs/liblock/config.status
libs/liblock/liblock.la
libs/liblock/libtool
libs/liblock/lockmail
libs/maildir/.deps/
libs/maildir/.libs/
libs/maildir/Makefile
libs/maildir/autom4te.cache/
libs/maildir/autoresponsequota.h
libs/maildir/config.h
libs/maildir/config.log
libs/maildir/config.status
libs/maildir/deliverquota
libs/maildir/deliverquota.8
libs/maildir/deliverquota.html
libs/maildir/libmaildir.la
libs/maildir/libtool
libs/maildir/mailbot.h
libs/maildir/maildir.libdeps
libs/maildir/maildiracl
libs/maildir/maildiracl.1
libs/maildir/maildiracl.html
libs/maildir/maildiraclttest
libs/maildir/maildirfilterconfig.h
libs/maildir/maildirkw
libs/maildir/maildirkwtest
libs/maildir/maildirmake.html
libs/maildir/maildirsharedrc.h
libs/maildir/quotawarnmsg.h
libs/maildir/testmaildirfilter
libs/maildir/testmaildirsearch
libs/maildir/m4
libs/makedat/.deps/
libs/makedat/Makefile
libs/makedat/autom4te.cache/
libs/makedat/config.h
libs/makedat/config.log
libs/makedat/config.status
libs/makedat/libtool
libs/makedat/makedat
libs/md5/.deps/
libs/md5/.libs/
libs/md5/Makefile
libs/md5/autom4te.cache/
libs/md5/config.h
libs/md5/config.log
libs/md5/config.status
libs/md5/libmd5.la
libs/md5/libtool
libs/md5/md5test
libs/numlib/.deps/
libs/numlib/.libs/
libs/numlib/Makefile
libs/numlib/autom4te.cache/
libs/numlib/config.h
libs/numlib/config.log
libs/numlib/config.status
libs/numlib/libnumlib.la
libs/numlib/libtool
libs/random128/.deps/
libs/random128/.libs/
libs/random128/Makefile
libs/random128/autom4te.cache/
libs/random128/config.h
libs/random128/config.log
libs/random128/config.status
libs/random128/librandom128.la
libs/random128/libtool
libs/rfc1035/.deps/
libs/rfc1035/Makefile
libs/rfc1035/autom4te.cache/
libs/rfc1035/config.h
libs/rfc1035/config.log
libs/rfc1035/config.status
libs/rfc1035/libtool
libs/rfc1035/testlookup
libs/rfc1035/testspf
libs/rfc2045/m4
libs/rfc2045/.deps/
libs/rfc2045/.libs/
libs/rfc2045/Makefile
libs/rfc2045/autom4te.cache/
libs/rfc2045/config.log
libs/rfc2045/config.status
libs/rfc2045/headercheck
libs/rfc2045/librfc2045.la
libs/rfc2045/libtool
libs/rfc2045/makemime
libs/rfc2045/reformime
libs/rfc2045/rfc2045_config.h
libs/rfc2045/rfc2045_config.h.in.BAK
libs/rfc2045/rfc2045charset.h
libs/rfc2045/testrfc3676parser
libs/rfc822/.deps/
libs/rfc822/.libs/
libs/rfc822/Makefile
libs/rfc822/autom4te.cache/
libs/rfc822/config.h
libs/rfc822/config.log
libs/rfc822/config.status
libs/rfc822/libencode.la
libs/rfc822/librfc822.la
libs/rfc822/libtool
libs/rfc822/reftest
libs/rfc822/rfc822.config
libs/rfc822/testsuite
libs/rootcerts/Makefile
libs/rootcerts/autom4te.cache/
libs/rootcerts/config.log
libs/rootcerts/config.status
libs/rootcerts/rootcertsdir.cnf
libs/sha1/.deps/
libs/sha1/.libs/
libs/sha1/Makefile
libs/sha1/autom4te.cache/
libs/sha1/config.h
libs/sha1/config.log
libs/sha1/config.status
libs/sha1/libsha1.la
libs/sha1/libtool
libs/sha1/testsuite
libs/soxwrap/.deps/
libs/soxwrap/Makefile
libs/soxwrap/autom4te.cache/
libs/soxwrap/config.log
libs/soxwrap/config.status
libs/soxwrap/soxlibs.dep
libs/soxwrap/soxwrap_config.h
libs/soxwrap/soxwrap_config.h.in.BAK
libs/soxwrap/testprog
libs/tcpd/.deps/
libs/tcpd/.libs/
libs/tcpd/Makefile
libs/tcpd/autom4te.cache/
libs/tcpd/config.h
libs/tcpd/config.log
libs/tcpd/config.status
libs/tcpd/couriertcpd
libs/tcpd/couriertls
libs/tcpd/couriertls.config
libs/tcpd/libcouriertls.la
libs/tcpd/libcouriertlsopenssl.la
libs/tcpd/libspipe.la
libs/tcpd/libtlsclient.la
libs/tcpd/libtool
libs/tcpd/tlscachetest
libs/unicode/.deps/
libs/unicode/.libs/
libs/unicode/Makefile
libs/unicode/autom4te.cache/
libs/unicode/config.log
libs/unicode/config.status
libs/unicode/courier-unicode.spec
libs/unicode/enttest
libs/unicode/graphemetest
libs/unicode/libtool
libs/unicode/libunicode.la
libs/unicode/linebreaktest
libs/unicode/scripttest
libs/unicode/unicode_config.h
libs/unicode/unicode_config.h.in.BAK
libs/unicode/unicodetest
libs/unicode/wordbreaktest
libs/waitlib/.deps/
libs/waitlib/Makefile
libs/waitlib/autom4te.cache/
libs/waitlib/config.h
libs/waitlib/config.log
libs/waitlib/config.status
libs/waitlib/testwait
libtool
maildiracl
maildiracl.1
maildirkw
*.BAK
libs/unicode/courier-unicode.h
