#!/bin/sh

##########################################################################
# SecPanel.dist - Key-Distribution
# Shellscript for distributing public keys to remote hosts
#
# Version SecPanel 0.41
# Author: Steffen Leich <secpanel@pingx.net>
##########################################################################

function do_exit {
    echo
    echo -e "Key-Distribution finished\nPress <Return> to continue"
    read
    exit
}

if [ -z $4 ]
then
cat <<EOF

	SecPanel
	Shellscript for distributing public keys to remote hosts
	Usage: secpanel_distkey.sh <host> <user> <keyfile> <sshbin>

EOF
    exit 2
fi

HOST=$1
USER=$2
IDENTITY=$3
SSHBIN=$4

if [ ! -s $IDENTITY ]
then
    echo "Keyfile $IDENTITY does not exist or has size zero"
    do_exit
fi


cat <<EOF

    SecPanel - Distribution of public keys to remote hosts
    ------------------------------------------------------

    Connecting to $HOST as $USER
    with key $IDENTITY

    First we try to check if the key is already on the target host.

EOF

$SSHBIN -l $USER $HOST "mkdir \$HOME/.ssh 2>/dev/null; grep '$(cat $IDENTITY)' \$HOME/.ssh/authorized_keys > /dev/null 2>&1"

DISTRET=$?

if [ $DISTRET = 0 ]
then
    echo
    echo "    Your public key is already on the remote host"
elif [ $DISTRET = 255 ]
then
    echo
    echo "There was an error connecting to the remote site"
    echo -e "Parameters:\n\tHost:\t$HOST\n\tUser:\t$USER"
    echo
    echo "Canceling the key-transfer"
    do_exit
else
    echo
    echo "    The key could not be found on this host"
    echo "    -> Transfering your public key to remote host"
    echo
    $SSHBIN -l $USER $HOST "cat >> \$HOME/.ssh/authorized_keys; chmod 600 \$HOME/.ssh/authorized_keys; chmod 700 \$HOME/.ssh" < $IDENTITY
fi

do_exit
