*.o
*.a
*.lib
select.h
conf-home
load
compile
systype
hasdevtcp.h
uint32.h
choose
uint64.h
makelib
buffer.a
unix.a
auto-str
auto_home.c
dnscache-conf
iopause.h
direntry.h
chkshsgr
hasshsgr.h
socket.lib
dnscache
walldns-conf
walldns
rbldns-conf
rbldns
rbldns-data
pickdns-conf
pickdns
pickdns-data
tinydns-conf
tinydns
tinydns-data
tinydns-get
tinydns-edit
axfr-get
axfrdns-conf
axfrdns
dnsip
dnsipq
dnsip6q
dnsname
dnstxt
dnsmx
getopt.a
dnsfilter
random-ip
dnsqr
dnsq
dnstrace
dnstracesort
cachetest
utime
rts
prog
install
instcheck
it
setup
check
dnsip6
haveip6.h
haven2i.h
sockaddr_in6.h
dns-notify
dnsnamex
dnsgetroot
debian/debian.tar.gz
debian/dummy.tar.gz
debian/tinydnssec.dsc
debian/postinst
debian/preinst
debian/postrm
debian/prerm
