aclocal.m4
alarms
autom4te.cache
background
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
countdown
crypt
flash
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
m4
Makefile
Makefile.in
missing
*.o
stamp-h1
system.menu
system.rc
