Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
libs/authlib/Makefile.in
libs/authlib/aclocal.m4
libs/authlib/config.h.in
libs/authlib/configure
libs/bdbobj/Makefile.in
libs/bdbobj/aclocal.m4
libs/bdbobj/config.h.in
libs/bdbobj/configure
libs/gdbmobj/Makefile.in
libs/gdbmobj/aclocal.m4
libs/gdbmobj/config.h.in
libs/gdbmobj/configure
libs/imap/Makefile.in
libs/imap/aclocal.m4
libs/imap/config.h.in
libs/imap/configure
libs/libhmac/Makefile.in
libs/libhmac/aclocal.m4
libs/libhmac/config.h.in
libs/libhmac/configure
libs/liblock/Makefile.in
libs/liblock/aclocal.m4
libs/liblock/config.h.in
libs/liblock/configure
libs/maildir/Makefile.in
libs/maildir/aclocal.m4
libs/maildir/config.h.in
libs/maildir/configure
libs/makedat/Makefile.in
libs/makedat/aclocal.m4
libs/makedat/config.h.in
libs/makedat/configure
libs/md5/Makefile.in
libs/md5/aclocal.m4
libs/md5/config.h.in
libs/md5/configure
libs/numlib/Makefile.in
libs/numlib/aclocal.m4
libs/numlib/config.h.in
libs/numlib/configure
libs/random128/Makefile.in
libs/random128/aclocal.m4
libs/random128/config.h.in
libs/random128/configure
libs/rfc1035/Makefile.in
libs/rfc1035/aclocal.m4
libs/rfc1035/config.h.in
libs/rfc1035/configure
libs/rfc2045/Makefile.in
libs/rfc2045/aclocal.m4
libs/rfc2045/configure
libs/rfc822/Makefile.in
libs/rfc822/aclocal.m4
libs/rfc822/config.h.in
libs/rfc822/configure
libs/rootcerts/Makefile.in
libs/rootcerts/aclocal.m4
libs/rootcerts/configure
libs/sha1/Makefile.in
libs/sha1/aclocal.m4
libs/sha1/config.h.in
libs/sha1/configure
libs/soxwrap/Makefile.in
libs/soxwrap/aclocal.m4
libs/soxwrap/configure
libs/tcpd/Makefile.in
libs/tcpd/aclocal.m4
libs/tcpd/config.h.in
libs/tcpd/configure
libs/unicode/Makefile.in
libs/unicode/aclocal.m4
libs/unicode/compile
libs/unicode/config.guess
libs/unicode/config.sub
libs/unicode/configure
libs/unicode/depcomp
libs/unicode/install-sh
libs/unicode/ltmain.sh
libs/unicode/missing
libs/waitlib/Makefile.in
libs/waitlib/aclocal.m4
libs/waitlib/config.h.in
libs/waitlib/configure
ltmain.sh
m4/
missing
maildirkw.1
maildirmake
maildirmake.1
makedatprog
makeimapaccess
makeimapaccess.8
mkdhparams
mkdhparams.8
mkimapdcert
mkimapdcert.8
mkpop3dcert
mkpop3dcert.8
packaging/suse/courier-imap.init
packaging/systemd/courier-imap.service
packaging/systemd/courier-imap.sysvinit
pop3d
pop3d-ssl.dist
pop3d-ssl.rc
pop3d.8
pop3d.cnf
pop3d.dist
pop3d.rc
pop3login
pop3login.8
quotawarnmsg.example
sharedindexinstall
sharedindexinstall.1
sharedindexsplit
sharedindexsplit.1
stamp-h1
