set configs(sshbin) "ssh"
set configs(keygenbin) "ssh-keygen"
set configs(agentbin) "ssh-agent"
set configs(addbin) "ssh-add"
set configs(askpassbin) "ssh-askpass"
set configs(scpbin) "scp"
set configs(browserbin) "firefox"
set configs(sshver) "OpenSSH"
set configs(termver) "GNOME-Terminal"
set configs(sftpbin) "Filezilla"
set launcher 0
set configs(fontsize) "6"
set configs(fontbold) "0"
set configs(fontitalic) "0"
set configs(wingeom) "0"
set configs(protectdata) "0"
set wins(base) "465x464+0+0"
set configs(startsat) "0"
