Source: indium
Section: misc
Priority: extra
Maintainer: Manvendra Bhangui <mbhangui@gmail.com>
Standards-Version: 3.9.1
Homepage: http://indimail.sourceforge.net
Vcs-Git:git://indimail.git.sourceforge.net/gitroot/indimail/indimail
Vcs-Browser: http://indimail.git.sourceforge.net/git/gitweb.cgi?p=indimail/indimail;a=summary

Package: indium
Architecture: any
Depends: tcl8.6-dev, libmysqlclient16 (>= 5.1.21-1), ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Web Administration GUI for IndiMail User Administration
 .
 indium provides a TCL/TK frontent for administering IndiMail Users
