test-driver
compile
py-compile
ylwrap
po/Makevars.template
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
m4
missing
rcfile_l.c
rcfile_y.c
rcfile_y.h
.deps
Makefile
config.h
config.log
config.status
fetchmail
fetchmailconf
po/Makefile
po/POTFILES
stamp-h1
*.o
autom4te.cache
