test-driver
compile
py-compile
ylwrap
po/Makevars.template
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
contrib/README
depcomp
install-sh
m4/
missing
rcfile_l.c
rcfile_y.c
rcfile_y.h
trio/README
