dkim
Makefile
Makefile.in
dkim.8
compile
depcomp
.deps
.libs
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
*.la
*.lo
*.o
autom4te.cache
*.BAK
libdkim2.spec
libdkim2.changes
libdkim2.pc
conf-release
config.h.in~
debian/changelog
debian/copyright
debian/control
debian/debian.tar.gz
debian/libdkim2-dev.install
debian/*.dsc
debian/libdkim2.install
PKGBUILD
configure~
