#! /bin/sh
#
# Copyright 1998 - 2005 Double Precision, Inc.
# See COPYING for distribution information.


prefix=/var/indimail
exec_prefix=/var/indimail
bindir=/var/indimail/bin
libexecdir=/var/indimail/libexec

if test ! -f /var/indimail/etc/pop3d
then
	echo "/var/indimail/etc/pop3d does not exist, forgot make install-configure?"
	exit 1
fi

if test ! -f /var/indimail/etc/pop3d-ssl
then
	echo "/var/indimail/etc/pop3d-ssl does not exist, forgot make install-configure?"
	exit 1
fi

. /var/indimail/etc/pop3d-ssl
. /var/indimail/etc/pop3d

case $1 in
start)
	/usr/bin/env -i /bin/sh -c " set -a ;
		prefix=/var/indimail ;
		exec_prefix=/var/indimail ;
		bindir=/var/indimail/bin ;
		libexecdir=/var/indimail/libexec ;
		. /var/indimail/etc/pop3d-ssl ; \
		. /var/indimail/etc/pop3d ; \
		PROXY_HOSTNAME=$PROXY_HOSTNAME ; \
		TLS_PROTOCOL=$TLS_STARTTLS_PROTOCOL ; \
		@courierlogger@ -pid=$PIDFILE -start $LOGGEROPTS \
		/var/indimail/libexec/couriertcpd -address=$ADDRESS \
			-maxprocs=$MAXDAEMONS -maxperip=$MAXPERIP \
			$TCPDOPTS \
			$PORT ${exec_prefix}/sbin/pop3login \
				/var/indimail/bin/pop3d ${MAILDIRPATH}"
	;;
stop)
	@courierlogger@ -pid=$PIDFILE -stop
	;;
esac
exit 0
